.exp_layout, .filters{
    display: flex;
    flex-direction: column;
}

.filters{
    flex-direction: row;
    justify-content: space-evenly;
}

.scroll{
    overflow-x: scroll;
}

.graph, .total_field{
    display: flex;
    flex-direction: column;
}

.upper_graph, .lower_graph, .total{
    display: flex;
    flex-direction: column;
    width:100%;
}

.total{
    justify-content: space-evenly;
    padding: 5vh 0 5vh 0;
}

.total_field{
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.chart{
    width: 100%;
    height: 65vh;
}

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expenditureform{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expenditureform_field{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.setwidth{
    width: 75%;
}

.xlsbutton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

@media screen and (max-width:750px) {
    .upper_graph, .lower_graph{
        flex-direction: column;
    }
    .chart{
        width: 100%;
    }
}
